@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Shopping App</h1>
    <h1>My Shopping</h1>
    <h1>First CI</h1>
    <h1>Edit : 10</h1>    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Charudatt building Web apps with ASP.NET Core</a>.</p>
</div>
