@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Shopping App</h1>
    <h1>My Shopping</h1>
    <h1>First CI</h1>
    <h1>Edit : 1</h1>
    <h1>Edit : 2</h1>
    <h1>Edit : 3</h1>
    <h1>Edit : 4</h1>
    <h1>Edit : 5</h1>
    <h1>Edit : 6</h1>
    <h1>Edit : 7</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Charudatt building Web apps with ASP.NET Core</a>.</p>
</div>
